---
---

@import 'minima';

/** Post Content **/
.categories-list {
  margin-top: 5px;
  margin-bottom: 5px;
}

.categories-list span {
  border-radius: 3px;
  padding: 2px 5px 2px 5px;
  font-size: 12px;
  background-color: black;
}

.categories-list span a {
  color: #fdfdfd;
}

/** About me **/
.about-me {
  height: 280px;
  width: 200px;
  float: left;
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me img {
    height: 180px;
    border-radius: 50%;
  }

.about-me-social {
    margin: 20px;
}
